body{
    padding:20px;
}
.title{
    background-color:blue;
    padding-left:20px;
}
.container{
    width:100%;
    font-size:22px;
    padding:10px;
}
.home{
    margin-left:900px;
}
.contact{
    margin-left:15px;
}
table{
    width:70%;
    text-align:left;
}
td{
    padding:10px;
    font-size:20px;
}
.green{
    background-color:lightgreen;
    padding:7px;
    width:60%;
}