body{
    padding:20px;
}
.title{
    background-color:blue;
    padding-left:20px;
}
.container{
    width:100%;
    font-size:22px;
    padding:10px;
}
.home{
    margin-left:900px;
}
.contact{
    margin-left:15px;
}
