table{
    border:solid black 5px;
    background-color:pink;
}
.center{
    text-align:center;
}
.a{
    background-color:darkorange;
    color:white;
}
.b{
    background-color:yellow;
    color:black;
}
.error{
    position:absolute;
    padding:0px;

}
.error p{
    font-size:10px;
     color:red;
     padding:0px;
     margin:0px;

}
td {
	padding: 10px;
}