table{
        border:groove;
        background-color:lightgrey;
        
    }
th,td{
        border:double  1px;
        background-color:lightblue;
        padding:2px 20px 2px 5px;
     
    }
th{
        background-color:#FFF2AF;
        color:red;
        border-color:black;
    }
.error{
    position:absolute;
    padding:0px;

}
.error p{
    font-size:10px;
     color:red;
     padding:0px;
     margin:0px;

}
td {
	padding: 10px;
} 