*
{
	padding: 0px;
	margin:0px;
}
body
{
	padding: 10px;
}
.main_div
{
	width: 1000px;
	margin: auto;
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.main_img_div
{
	display: flex;
	justify-content: center;
}
.img_div p
{
	color:white;
	font-size: 25px;
	text-align: center;
	padding: 60% 0;
}
.card
{
	height: 350px;
	width: 220px;
	/*background-color: rgba(0,0,0,0.1);*/
	margin:10px;
	border:1px solid rgba(0,0,0,0.2);
	padding:2px;
}
.img_div
{
	margin: auto;
	height: 315px;
	width: 215px;
	background-color: #333;
}
.img_caption
{
	padding:6px 0px 6px 0px;/*top right bottom left*/
	font-size: 18px;
	margin:0px 2px 0px 2px;
	letter-spacing: 0.5px;
	color:rgba(0,0,0,0.5);
	background-color: rgba(0,0,0,0.1);
}
.content_div
{
	padding: 15px;
	text-align: justify;
  	text-justify: inter-word;
  	letter-spacing: 0.5px;
  	font-size: 22px;
  	color:rgba(0,0,0,0.4);
}