
table,th{
    border:2px solid black;}
td{
    border:1px solid black;
    border-collapse:collapse;}
body{
    padding-left:300;
    padding-right:300;}
.tr1{
    background-color:lightgreen;
    border:1px solid black;}
.tc1{
    background-color:lightblue;}
.tc3{ 
    background-color:pink;}
.par{
    color:blue;}